@tailwind base;
@tailwind components;
@tailwind utilities;

.logoFont {
  font-family: "Kodchasan", sans-serif;
}
.logoIcon{
  @apply w-3 h-7 sm:w-4 sm:h-10 bg-white group-hover:bg-black 
}


.page-turn {
    transition: transform 0.3s ease-in-out;
  }
  
  .page-turn:hover {
    transform: perspective(1000px) rotateY(10deg);
  }

.zoom-in {
  transition: transform 0.3s ease-in-out;
}

.zoom-in:hover {
  transform: scale(1.1);
}
